body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed span {
  text-decoration: line-through;
  color: #999;
}


li button {
  background-color: #dc3545;
  margin-left: 10px;
}

li button:hover {
  background-color: #c82333;
}

li label {
  display: flex;
  align-items: center;
}

li input[type="checkbox"] {
  margin-right: 10px;
}
